{% extends "base_generic.html" %}

{% block content %}
{% if perms.book_catalog.change_author %}
  <a href="{% url 'author-update' author.id %}" class="btn btn-primary">Edit</a>
{% endif %}
{% if perms.book_catalog.delete_author %}
  <a href="{% url 'author-delete' author.id %}" class="btn btn-primary">Delete</a>
{% endif %}
  <h1>Name: {{ author.first_name }} {{ author.last_name }}</h1>
  {% if author.year_of_birth %}
    <p><strong>Fecha de nacimiento:</strong> {{ author.year_of_birth }}</p>
  {% endif %}
  {% if author.year_of_death %}
    <p><strong>Fecha de fallecimiento:</strong> {{ author.year_of_death }}</p>
  {% endif %}
  <!-- <div style="margin-left:20px;margin-top:20px">
    <h4>Copias</h4>

    {% for copy in book.bookinstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'a' %}<p><strong>Pendiente de devolución:</strong> {{copy.due_back}}</p>{% endif %}
    <p><strong>Imprimir:</strong> {{copy.imprint}}</p>
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div> -->
{% endblock %}
