{% extends "base_generic.html" %}

{% block content %}
<div style="display: flex;">
  <div class="sidebar">
    <!-- Primera columna -->
    <div class="col-md-12">
      <h2>Author's book list</h2>
      <ul class="list-group">
        {% for book in books%}
          <li class="list-group-item d-flex align-items-center">
            <a href="{{ book.get_absolute_url }}" class="no-underline">{{ book.title }}</a>
            {% if book.saga %}
              <div style="color: gray;"> (<a href="{{ book.saga.get_absolute_url }}" class="no-underline">{{ book.saga.name }} </a>#{{ book.saga_volume }})</div>
            {% endif %}
          </li>
        {% empty %}
          <li>No book list.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    {% include "book_catalog/author_detail_content.html" %}
  </div>
</div>




  <!-- <div style="margin-left:20px;margin-top:20px">
    <h4>Copias</h4>

    {% for copy in book.bookinstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'a' %}<p><strong>Pendiente de devolución:</strong> {{copy.due_back}}</p>{% endif %}
    <p><strong>Imprimir:</strong> {{copy.imprint}}</p>
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div> -->
{% endblock %}
