{% extends "base_generic.html" %}

{% block content %}
<div style="display: flex;">
  <div class="sidebar">
    {% include "book_catalog/recent_books.html" %}
  </div>
  <div style="flex-grow: 1; padding: 20px;">
    <h1>Authors List</h1>
    {% if author_list %}
      <table id="dynamicTable" class="table table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col">Last name</th>
            <th scope="col">Name</th>
            <th scope="col">Number of books</th>
          </tr>
        </thead>
        <tbody>
          {% for author in author_list %}
            <tr class="table-secondary">
              <td>
                <a class="no-underline" href="{{ author.get_absolute_url }}">{{ author.last_name }}</a>
              </td>
              <td>
                <a class="no-underline" href="{{ author.get_absolute_url }}">{{ author.first_name }}</a>
              </td>
              <td>{{ author.book_set.count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No authors in this library.</p>
    {% endif %} 
  </div>
</div>

{% endblock %}
