{% extends "base_generic.html" %}

{% block content %}
  {% if perms.book_catalog.add_author %}
    <a href="{% url 'author-create' %}" class="btn btn-primary">Create a new author</a>
  {% endif %}
    <h1>Lista de autores</h1>

    {% if author_list %}
    <ul>

      {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url}}">{{ author.first_name }} {{ author.last_name }}</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No hay autores en la biblioteca.</p>
    {% endif %}
{% endblock %}
