{% block content %}
<div style="flex-grow: 1; padding: 20px;">
    <h1 class="mb-3">
      <big>
        {{ author.first_name }} {{ author.last_name }}
      </big>
    </h1>
    {% if author.year_of_birth %}
      <p><strong>Year of birth:</strong> {{ author.year_of_birth }}</p>
    {% endif %}
    {% if author.year_of_death %}
      <p><strong>Year of death:</strong> {{ author.year_of_death }}</p>
    {% endif %}
    <div class="mt-3">
      {% if perms.book_catalog.change_author %}
      <a href="{% url 'author-update' author.id %}" class="btn btn-outline-dark mr-2">Edit</a>
      {% endif %}
      {% if perms.book_catalog.delete_author %}
      <a href="{% url 'author-delete' author.id %}" class="btn btn-outline-dark">Delete</a>
    {% endif %}
    </div>
  </div>
{% endblock %}
