{% extends "base_generic.html" %}

{% block content %}
<div style="display: flex;">
  <div class="sidebar">
    <div class="justify-content-left">
      {% include "book_catalog/recent_books.html" %}
    </div>
  </div>
  <div style="flex-grow: 1; padding: 20px;" class="column-right">
    <h1>Books list</h1>
    <table id="dynamicTable" class="table table-hover">
      <thead>
        <tr class="table-primary">
          <th scope="col"></th>
          <th scope="col">Title</th>
          <th scope="col">Saga</th>
          <th scope="col">Author</th>
          <th scope="col">Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for book in book_list %}
          <tr class="table-secondary">
            <!-- cover -->
            <td scope="row">
              <div class="text-center">
                {% if book.cover_image %}
                  <img src="{{ book.cover_image.url }}"
                    alt="{{ book.title }}"
                    class="img-fluid border rounded shadow"
                    style="width: 50px; height: auto;">
                {% else %}
                {% endif %}
              </div>
            </td>
            <!-- title -->
            <th scope="row">
              <a class="no-underline" href="{{ book.get_absolute_url }}">{{ book.title }}</a>
            </th>
            <!-- saga -->
            <td>
              {% if book.saga %}
                <a class="no-underline" href="{{ book.saga.get_absolute_url }}">
                  {{ book.saga.name }}
                </a>
                #{{ book.saga_volume }}
              {% endif %}
            </td>
            <!-- author -->
            <td>
              <a class="no-underline" href="{{ book.author.get_absolute_url }}">{{ book.author }}</a>
            </td>
            <!-- rating -->
            <td class="text-center"><a>{% if book.average_rating %} {{ book.average_rating|floatformat:1 }} {% endif %}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
