{% extends "base_generic.html" %}

{% block content %}
<div style="display: flex;">
  <div class="sidebar">
      <div class="col-md-12">
        <h2>Recents books</h2>
        <ul class="list-group">
          {% for book in recent_books %}
            <li class="list-group-item" style="background-color: #f4f4f4;">
              <h5 class="mb-1">{{ book.title }}</h5>
              <p class="mb-1 ">
                Author: 
                <a class="no-underline" href="{{ book.author.get_absolute_url }}">{{ book.author }}</a>
              </p>
              {% if book.saga %}
              <p class="mb-1">
                <small>
                  Saga
                  <a class="no-underline" href="{{ book.saga.get_absolute_url }}">
                    {{ book.saga.name }}
                  </a>
                  #{{ book.saga_volume }}
                </small>
              </p>
              {% endif %}
            </li>
          {% empty %}
            <li class="list-group-item" style="background-color: #f4f4f4;">
              No recent books.
            </li>
          {% endfor %}
        </ul>
        <hr class="my-4">
    </div>
  </div>
  <div style="flex-grow: 1; padding: 20px;">
    <h1>Books list</h1>
    <table id="dynamicTable" class="table table-hover">
      <thead>
        <tr class="table-primary">
          <th scope="col">Title</th>
          <th scope="col">Saga</th>
          <th scope="col">Author</th>
        </tr>
      </thead>
      <tbody>
        {% for book in book_list %}
          <tr class="table-secondary">
            <th scope="row">
              <a class="no-underline" href="{{ book.get_absolute_url }}">{{ book.title }}</a>
            </th>
            <td>
              {% if book.saga %}
                <a class="no-underline" href="{{ book.saga.get_absolute_url }}">
                  {{ book.saga.name }}
                </a>
                #{{ book.saga_volume }}
              {% endif %}
            </td>
            <td>
              <a class="no-underline" href="{{ book.author.get_absolute_url }}">{{ book.author }}</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
