{% extends "base_generic.html" %}

{% block content %}
<div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
      {% comment %} <form method="post" action="{% url 'login' %}" style="width: 100%;"> {% endcomment %}
        <span class="login100-form-title">
            Delete Book 
        </span>
        <p>Are you sure you want to delete the book "{{ book }}"?</p>
        <form action="" method="post">
            {% csrf_token %}
            <input class="btn btn-outline-dark" type="submit" value="Confirm" />
        </form>
      </div>
  </div>
  </div>
{% endblock %}