{% extends "base_generic.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
        {% if book.cover_image %}
            <img src="{{ book.cover_image.url }}"
            alt="{{ book.title }}"
            class="img-fluid border rounded shadow"
            style="max-width: 100%; height: auto; margin: auto; display: block;">
        {% else %}
            <p>No hay imagen disponible.</p>
        {% endif %}
        </div>
        <div class="col-md-8">
            <h1>{% if book.id %}Edit Book{% else %}New Book{% endif %}</h1>
            <form action="" method="post">
                {% csrf_token %}
                <div class="wrap-input100" style="margin-bottom 23px;">
                    <label for="title" class="form-label mt-4">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Type the title" autocomplete="on" value="{{ book.title }}">
                    {% if form.title.errors %}
                    <div class="error">{{ form.title.errors|join:", " }}</div>
                    {% endif %}
                </div>
                <div class="wrap-input100" style="margin-bottom: 23px; display: flex; align-items: center;">
                    <div style="flex-grow: 10; margin-right: 10px;">
                        <label for="author" class="form-label mt-4">Author</label>
                        <select class="form-select" id="author" name="author">
                            <option value="" autocomplete="on" disabled {% if not book.author %}selected{% endif %}>Select the Author</option>
                            {% for author in authors %}
                                <option value="{{ author.id }}" {% if author.id == book.author.id %}selected{% endif %}>{{ author }}</option>
                            {% endfor %}
                        </select>
                    {% if form.author.errors %}
                    <div class="error">{{ form.author.errors|join:", " }}</div>
                    {% endif %}
                    </div>
                    <div style="flex-grow: 1;">
                        <label for="publishdate" class="form-label mt-4">Publish Date</label>
                        <input type="text" class="form-control" id="publishdate" name="publish_date" placeholder="Type the publish date" autocomplete="on"
                        value="{% if book.publish_date %} {{ book.publish_date }} {%else%}{%endif%}">
                        {% if form.publish_date.errors %}
                        <div class="error">{{ form.publish_date.errors|join:", " }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="wrap-input100" style="margin-bottom: 23px; display: flex; align-items: center;">
                    <div style="flex-grow: 10; margin-right: 10px;">
                        <label for="saga" class="form-label mt-4">Saga</label>
                        <select class="form-control" id="saga" name="saga">
                            <option value="" autocomplete="on" disabled {% if not book.saga %}selected{% endif %}>Select the saga name</option>
                            {% for saga in sagas %}
                                <option value="{{ saga.id }}" {% if saga.id == book.saga.id %}selected{% endif %}>{{ saga.name }}</option>
                            {% endfor %}
                        </select>
                        {% if form.saga.errors %}
                            <div class="error">{{ form.saga.errors|join:", " }}</div>
                        {% endif %}
                    </div>
                    <div style="flex-grow: 1;">
                        <label for="sagavolume" class="form-label mt-4">Saga volume</label>
                        <input type="text" class="form-control" id="sagavolume" name="saga_volume" placeholder="Type the saga volume"
                        autocomplete="on" value={% if book.saga_volume %} "{{book.saga_volume}}" {%else%} "" {%endif%}>
                        {% if form.saga_volume.errors %}
                            <div class="error">{{ form.saga_volume.errors|join:", " }}</div>
                        {% endif %}
                    </div>
                </div>
                <div style="flex-grow: 1;">
                    <label for="summary" class="form-label mt-4">Summary</label>
                    <textarea class="form-control" id="summary" name="summary" placeholder="Type the summary" rows="5" autocomplete="on">{% if book.summary %}{{ book.summary }}{% else %}{% endif %}</textarea>
                    {% if form.summary.errors %}
                        <div class="error">{{ form.summary.errors|join:", " }}</div>
                    {% endif %}
                </div>
                <div class="wrap-input100" style="margin-bottom: 23px; display: flex; align-items: center;">

                    <div style="flex-grow: 1; margin-right: 10px;">
                            <label for="isbn" class="form-label mt-4">ISBN</label>
                            <input type="text" class="form-control" id="isbn" name="isbn" placeholder="Type the ISBN" autocomplete="on" value="{% if book.isbn %}{{ book.isbn }}{% else %}{% endif %}">
                            {% if form.isbn.errors %}
                                <div class="error">{{ form.isbn.errors|join:", " }}</div>
                            {% endif %}
                        </div>
                    <div style="flex-grow: 1;">
                        <label for="language" class="form-label mt-4">Language</label>
                        <select class="form-control" id="language" name="language">
                            <option value="" autocomplete="on" disabled {% if not book.language %}selected{% endif %}>Select the language</option>
                            {% for language in languages %}
                                <option value="{{ language.id }}" {% if language.id == book.language.id %}selected{% endif %}>{{ language.name }}</option>
                            {% endfor %}
                        </select>
                        {% if form.language.errors %}
                            <div class="error">{{ form.language.errors|join:", " }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="wrap-input100" style="margin-bottom 23px;">
                    <label for="cover_image" class="form-label mt-4">Current cover image</label>
                        {% if book.cover_image %}
                            <a href="{{ book.cover_image.url }}">{{ book.cover_image.url }}</a>
                        {% else %}
                            No image uploaded.
                        {% endif %}
                        <input type="checkbox" class="checkbox" accept="image/*" id="cover_image-clear" name="cover_image-clear"/>
                        <label for="cover_image-clear">Clear</label>
                    </div>
                    <div class="wrap-input100" style="margin-bottom 23px;">

                        <label for="cover_image" class="form-label mt-4">Current cover image</label>
                        <input type="file" class="form-control" id="cover_image" name="cover_image" placeholder="Select file" autocomplete="on" value="{% if book.cover_image.url %}{{ book.cover_image.url }}{% else %}{% endif %}">
                    {% if form.cover_image.errors %}
                        <div class="error">{{ form.cover_image.errors|join:", " }}</div>
                    {% endif %}
                </div>
                <div class="wrap-input100" style="margin-bottom 23px;">
                    <label for="genre" class="form-label mt-4">Genre</label>
                    <select class="form-select" name="genre" required id="genre" multiple>
                        {% for genre in genres %}
                            <option value="{{ genre.id }}"{% if genre in book.genre.all %}selected{% endif %}>
                            {{ genre.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" class="btn-save mt-3" value="Save">
            </form>
        </div>
    </div>
</div>

{% endblock %}