<h3>Reviews</h3>
<div id="book_reviews" class="reviews-container">
   {% for review in book_reviews %}
   <div class="review">
      <div class="col-md-3">
         <h4>{{ review.user.username }}</h4>
         <p>{{ review.user.review_count }} reviews</p>
         <p>{{ review.user.average_rating|floatformat:1 }} average rating </p>
      </div>
      <div class="col-md-9">
         <div class="review-header">
            <div class="rating" title="{{ review.rating }}">
               <div class="stars-outer">
                  <div class="stars-inner" style="width: {{ review.rating_over_100 }}%;"></div>
               </div>
            </div>
            <small class="review-date">Published on {{ review.review_date|date:"d M Y" }}</small>
         </div>
         <p class="review-text">{{ review.review }}</p>
      </div>
   </div>
   {% endfor %}
</div>
