{% extends "base_generic.html" %}

{% block content %}
  {% if perms.book_catalog.add_book %}
    <a href="{% url 'book-create' %}" class="btn btn-primary">Create a new book</a>
  {% endif %}
    <h1>Lista de libros</h1>

    {% if book_list %}
    <ul>

      {% for book in book_list %}
      <li>
          <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>{% if book.saga %}
          <span style="color: gray;">
              (<a href="{{ book.saga.get_absolute_url }}">{{ book.saga.name }} </a>#{{ book.saga_volume }})
          </span>{% endif %}, <a href="{{ book.author.get_absolute_url }}">{{ book.display_author }}</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>No hay libros en la biblioteca.</p>
    {% endif %}
{% endblock %}
