{% extends "base_generic.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 text-center">
      {% if book.cover_image %}
        <img src="{{ book.cover_image.url }}"
        alt="{{ book.title }}"
        class="img-fluid border rounded shadow"
        style="max-width: 100%; height: auto; margin: auto; display: block;">
      {% else %}
        <p>No cover available.</p>
      {% endif %}
      {% comment %} {% if perms.book_catalog.change_book %}
      <a href="{% url 'booksaga-update' booksaga.id %}" class="btn btn-outline-dark mt-3">Edit</a>
      {% endif %}
      {% if perms.book_catalog.delete_book %}
      <a href="{% url 'booksaga-delete' booksaga.id %}" class="btn btn-outline-dark mt-3">Delete</a>
      {% endif %} {% endcomment %}
    </div>
    <div class="col-md-6">
        <form action="" method="post">
          <h1>{% if booksaga.author.id %}Edit Saga{% else %}New Saga{% endif %}</h1>
            {% csrf_token %}
            <div class="wrap-input100" style="margin-bottom 23px;">
              <label for="name" class="form-label mt-4">Name</label>
              <input type="text" class="form-control" id="name" name="name" placeholder="Type the name" autocomplete="on" value="{{ booksaga.name }}">
              {% if form.name.errors %}
              <div class="error">{{ form.name.errors|join:", " }}</div>
              {% endif %}
          </div>
          <div style="flex-grow: 10; margin-right: 10px;">
            <label for="author" class="form-label mt-4">Author</label>
            <select class="form-select" id="author" name="author">
                <option value="" autocomplete="on" disabled {% if not booksaga.author %}selected{% endif %}>Select the Author</option>
                {% for author in authors %}
                    <option value="{{ author.id }}" {% if author.id == booksaga.author.id %}selected{% endif %}>{{ author }}</option>
                {% endfor %}
            </select>
            {% if form.author.errors %}
            <div class="error">{{ form.author.errors|join:", " }}</div>
            {% endif %}
            </div>
            {% comment %} <table>
            {{ form.as_table }}
            </table> {% endcomment %}
            <input type="submit" class="btn-save mt-3" value="Save">
        </form>
    </div>
  </div>
</div>

{% endblock %}