{% comment %} {% extends "base_generic.html" %} {% endcomment %}
{% comment %} {% block content %} {% endcomment %}
{% comment %} {% include "book_catalog/book_detail_content.html" %} {% endcomment %}

<div style="margin-top: 20px;">
    <h2>Cambiar Estado del Libro</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      {% comment %} {% if user_book_relation_exists %} {% endcomment %}
      <a href="{% url 'delete-book-status' book.id %}">Delete</a>
      {% comment %} {% endif %} {% endcomment %}
      <button type="submit">Cambiar Estado</button>
    </form>
  </div>

{% comment %} {% endblock %} {% endcomment %}