{% extends "base_generic.html" %}

{% block content %}
<div style="display: flex;">
  <div class="sidebar">
    {% include "book_catalog/recent_books.html" %}
  </div>
  <div style="flex-grow: 1; padding: 20px;">
    <h1>Books list</h1>
    {% if userbookrelation_list %}
      <table id="dynamicTable" class="table table-hover">
        <thead>
          <tr class="table-primary">
            <th scope="col">Title</th>
            <th scope="col">Saga</th>
            <th scope="col">Author</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          {% for object in userbookrelation_list %}
            <tr class="table-secondary">
              <td>
                <a class="no-underline" href="{{ object.book.get_absolute_url }}">{{ object.book.title }}</a>
              </td>
              <td>
                {% if object.book.saga %}
                  <a class="no-underline" href="{{ object.book.saga.get_absolute_url }}">
                    {{ object.book.saga.name }}
                  </a>
                  #{{ object.book.saga_volume }}
                {% endif %}
              </td>
              <td>
                <a class="no-underline" href="{{ object.book.author.get_absolute_url }}">{{ object.book.author }}</a>
              </td>
              <td>
                <a>{{ object.display_status }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No hay libros en la biblioteca.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
