{% extends "base_generic.html" %}

{% block content %}
<div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
    {% if validlink %}
        <form method="post" action="" style="width: 100%;">
            <span class="login100-form-title p-b-49">
                Password reset
              </span> 
            <p>Insert (and confirm) the new password.</p>
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div class="wrap-input100" style="margin-bottom 23px;">
                <label for="password1" class="form-label mt-4">New password</label>
                <input type="password" class="form-control" name="new_password1" placeholder="Type your password" autocomplete="off">
                {% if form.new_password1.errors %}
                <div class="error">{{ form.new_password1.errors|join:", " }}</div>
                {% endif %}
            </div>
            <div class="wrap-input100" style="margin-bottom 23px;">
                <label for="password2" class="form-label mt-4">Confirm new password</label>
                <input type="password" class="form-control" name="new_password2" placeholder="Type your password" autocomplete="off">
                {% if form.new_password2.errors %}
                <div class="error">{{ form.new_password2.errors|join:", " }}</div>
                {% endif %}
            </div>
            <input type="submit" value="Change my password" />
        </form>
    {% else %}
        <span class="login100-form-title p-b-49">
            Error resetting the password
        </span>
        <p>The link to reset the password is not valid, probably because it has been used before. Please, request a new password again.</p>
    {% endif %}
    </div>
</div>
</div>
{% endblock %}