{% extends "base_generic.html" %}

{% block content %}
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
    {% comment %} <form method="post" action="{% url 'login' %}" style="width: 100%;"> {% endcomment %}
      <span class="login100-form-title">
        The password has been changed succefully. 
      </span>
      <p><a href="{% url 'user_profile' %}" class="no-underline">Back to profile...</a></p>

      <script>
          // Redirigir después de 5 segundos (5000 milisegundos)
          setTimeout(function() {
              window.location.href = "{% url 'user_profile' %}";
          }, 5000);
      </script>
    </div>
</div>
</div>
{% endblock %}
