{% extends "base_generic.html" %}

{% block content %}
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
  <form method="post" action="{% url 'password_reset' %}" style="width: 100%;">
    <span class="login100-form-title">
      Password reset
    </span>
    <p>Please, indicate your email below</p>

    {% csrf_token %}
    <div class="wrap-input100" style="margin-bottom 23px;">
      <input type="email" class="form-control" name="email" placeholder="Type your email address">
      {% if form.email.errors %}
      <div class="error">{{ form.email.errors|join:", " }}</div>
      {% endif %}
    </div>

      {% comment %} <p>{{ form.email }}</p> {% endcomment %}
      <div class="d-flex justify-content-center mt-4">
        <input type="submit" class="btn btn-primary" value="Password Reset">
      </div>  </form>
</div>
</div>
</div>
{% endblock %}
