/* Para que no haya subrrayado en los enlaces */
.no-underline {
    text-decoration: none;
}
/* Estilo genérico */
.sidebar {
  flex: 0 0 500px;
  width: 600px;
  height: 100vh;
  overflow-y: auto;
  background-color: #f4f4f4;
  padding: 20px;
  }
.column-right {
    flex: 75%;
    margin-right: 40px;
    margin-top: 40px;
    margin-left: 20px;
  }
.column-left {
    flex: 25%;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 20px;
  }
.limiter {
    width: 100%;
    margin: 0 auto;
  }
.dropdown:hover .dropdown-menu {
  display: block;
}

 /* --- Dynamic Table --- */
#dynamicTable {
    border-collapse: separate; 
}
#dynamicTable thead th,
#dynamicTable tbody td,
#dynamicTable tbody th {
    padding: 15px 20px !important; 
}
#dynamicTable tbody tr {
    line-height: 2em !important;
}
#dynamicTable_paginate .paginate_button.current, 
#dynamicTable_paginate .paginate_button.active {
  border-radius: 0px;
  border: 0px solid #000000;
}
.row > .col-md-4, .row > .col-md-8 {
  padding: 15px;
}

/* Botones de colores */
.btn-green {
  background-color: #B8E0C0;
  color: black;
}
.btn-blue {
  background-color: #B3CDE0;
  color: black;
}
.btn-yellow {
  background-color: #F9E3B4;
  color: black;
}
.btn-red {
  background-color: #F4A6A6;
  color: black;
}
.btn-save {
  background-color: #B8E0C0;
  color: black;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.btn-save:hover {
  background-color: #7b987c;
}

/* Texto de colores */
.text-green{
  color: #B8E0C0;
}
.text-blue{
  color: #B3CDE0;
}
.text-yellow{
  color: #F9E3B4;
}
.text-red{
  color: #F4A6A6;
}

/* error */
.error {
  color: #d9534f;
  margin-bottom: 15px;
}
 /* login */
.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrap-login100 {
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 55px 65px 54px;
  padding-block: 55px 55px 65px 54px;
  background: rgba(var(--bs-body-color-rgb), 0.03);
}
.login100-form-title {
  display: block;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 49px;
}
.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}
