{% extends "base_generic.html" %}
{% block content %}
<div class="limiter">
   <div class="container-login100">
      <div class="wrap-login100">
         <span class="login100-form-title">
         User created successfully
         </span>
         <p><a href="{% url 'index' %}">Click here</a> to start My Library.</p>
         <script>
            // Redirigir después de 5 segundos (5000 milisegundos)
            setTimeout(function() {
                window.location.href = "{% url 'index' %}";
            }, 5000);
         </script>   
      </div>
   </div>
</div>
{% endblock %}